main {
    padding: 2rem 0;
}

.welcome {
    padding: 3rem 0;
    margin-bottom: 2rem;
    background-color: #eee;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.snippet-date {
    margin-bottom: 1rem;
}

.source-code > .highlight {
    padding: 1rem;
    margin-bottom: 1rem;
}

